/* Font Imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Styles */
* {
    /* margin: 0px;
    padding: 0px; */
    font-family: "Poppins";
}

/* General Styles */
.menu-horizontal a {
    font-size: 1rem;
    font-weight: 600;
}
.menu a {
    font-size: 1rem;
    font-weight: 600;
}
.carousel {
    height: 550px;
}

/* Responsive Style */
@media (min-width: 406px) and (max-width: 639px) {
    .carousel-item {
        flex-direction: column;
    }
    .slide-img {
        /* width: 45%; */
        margin-top: 30px;
    }
    .hero-heading {
        margin-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .menu-horizontal a {
        font-size: 0.875rem;
    }
}